.app {
  display: grid;
  grid-template: auto, 1fr, auto;
}
.header {
  flex-direction: row;
  background: linear-gradient(
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.header__input {
  border: none;
  border-radius: 50px;
}
main {
  height: 100vh;
}

.wineList {
}

.footer {
  background: linear-gradient(
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  overflow: auto;
}
