/* .app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
} */
/* 
.app > * {
  flex-basis: 100%;
} */

/* header {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background-image: var(--bg-gradient);
} */
/* 
main {
  padding: 10px;
} */
