*,
*:before *:after {
  box-sizing: border-box;
}

:root {
  --bg-gradient: linear-gradient(90deg, #8fd3f4 0%, #84fab0 100%);
  --bg-gradient-light: linear-gradient(90deg, #8fd2f471 0%, #84faaf88 100%);
  --bg-color: #fff;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
